<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="/img/logo.jpg" alt="Baptiste Bérard Logo" width="40" height="40" class="rounded-circle me-2">
                <span class="fw-bold">Baptiste Bérard</span>
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#showcase">{{ i18n "showcase" }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">{{ i18n "contact" }}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ .Site.Language.LanguageName }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                            {{ range .Site.Home.AllTranslations }}
                            <li><a class="dropdown-item{{ if eq $.Site.Language .Language }} active{{ end }}" 
                                  href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                            {{ end }}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>