<section id="showcase" class="py-4 bg-light">
    <div class="container">
        <h2 class="section-title" data-animation="slide-up">{{ i18n "showcase" }}</h2>
        
        <div class="row g-4">
            <!-- BNP Paribas Video -->
            <div class="col-md-6 col-lg-4">
                <div class="showcase-card">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://player.vimeo.com/video/769964314?h=fd3c22bd1e" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="BNP Paribas | MNPI"></iframe>
                    </div>
                    <div class="showcase-info">
                        <h3>BNP Paribas | MNPI</h3>
                        <p>
                            {{ if eq .Site.Language.Lang "fr" }}
                            Vidéo de formation interne
                            {{ else }}
                            Internal training video
                            {{ end }}
                        </p>
                    </div>
                </div>
            </div>
            
            <!-- Modulauto Video -->
            <div class="col-md-6 col-lg-4">
                <div class="showcase-card">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://player.vimeo.com/video/728543068?h=fd3c22bd1e" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Modulauto | Comment ça marche ?"></iframe>
                    </div>
                    <div class="showcase-info">
                        <h3>Modulauto</h3>
                        <p>
                            {{ if eq .Site.Language.Lang "fr" }}
                            Vidéo explicative
                            {{ else }}
                            Explainer video
                            {{ end }}
                        </p>
                    </div>
                </div>
            </div>
            
            <!-- AG2R Video -->
            <div class="col-md-6 col-lg-4">
                <div class="showcase-card">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://player.vimeo.com/video/736139819?h=fd3c22bd1e" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="AG2R | Notre mission"></iframe>
                    </div>
                    <div class="showcase-info">
                        <h3>AG2R | Notre mission</h3>
                        <p>
                            {{ if eq .Site.Language.Lang "fr" }}
                            Vidéo promotionnelle
                            {{ else }}
                            Promotional video
                            {{ end }}
                        </p>
                    </div>
                </div>
            </div>
            
            <!-- Crédit Agricole Video -->
            <div class="col-md-6 col-lg-4">
                <div class="showcase-card">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://player.vimeo.com/video/736165426?h=fd3c22bd1e" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Crédit Agricole | Le Village"></iframe>
                    </div>
                    <div class="showcase-info">
                        <h3>Crédit Agricole | Le Village</h3>
                        <p>
                            {{ if eq .Site.Language.Lang "fr" }}
                            Vidéo institutionnelle
                            {{ else }}
                            Corporate video
                            {{ end }}
                        </p>
                    </div>
                </div>
            </div>
            
            <!-- E-Formapro Video -->
            <div class="col-md-6 col-lg-4">
                <div class="showcase-card">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/U_4frPyvRPg" title="E-Formapro : E-learning CACES® R.486" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="showcase-info">
                        <h3>E-Formapro | E-learning</h3>
                        <p>
                            {{ if eq .Site.Language.Lang "fr" }}
                            Formation interactive
                            {{ else }}
                            Interactive training
                            {{ end }}
                        </p>
                    </div>
                </div>
            </div>
            
            <!-- Hol'Autisme Video -->
            <div class="col-md-6 col-lg-4">
                <div class="showcase-card">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/TLmAqcz2qBc" title="Hol'Autisme : apprentissage avec la réalité mixte" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="showcase-info">
                        <h3>Hol'Autisme</h3>
                        <p>
                            {{ if eq .Site.Language.Lang "fr" }}
                            Projet innovant en réalité mixte
                            {{ else }}
                            Innovative mixed reality project
                            {{ end }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>